{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    details
{% endblock %}

{% block content %}
    <section id="billboard" class="position-relative overflow-hidden">
        <div class="d-flex align-items-center text-center"
             style="background-image: url('{% static 'images/header_bg2.jpg' %}'); background-size: cover; background-repeat: no-repeat; height: 50vh; background-position: center;">
            <div class="container ">
                <div class="row h-100 pt-5 justify-content-center text-center">
                    <div class="banner-content mt-0" dir="rtl">
                        <h2 style="color: #626262">{{ user.first_name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5" dir="rtl">
            <div class="row text-center align-items-center d-flex justify-content-center">

                {% for order in orders. %}
                    {% if order %}
                        <div class="row text-center align-items-center d-flex justify-content-center py-3 border-bottom">
                        {% for image in  %}
                            {% if image.is_main %}
                                <div class="col col-3">
                                <img class="card-img-top mb-5 mb-md-0 rounded" id="mainImage"
                                     src="{{ image.sub_image.url }}" style="width: 130px; height: auto">
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col col-2">
                        <p>{{ order.items.product.name }}</p>
                        </div>
                        <div class="col col-1">
                        <p>{{ order.items.quantity }}</p>
                        </div>
                        <div class="col col-1">
                        <p>{{ order.items.product.price }}</p>
                        </div>
                        <div class="col col-1">
                        <p>{{ order.items.product.discounted_price }}</p>
                        </div>
                        <div class="col col-2">
                        {% if order.is_paid %}
                        <p class="text-success">پرداخت شده</p>
                            {% else %}
                            <p class="text-danger" style="font-size: 14px;">پرداخت نشده</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <h4>هنوز سفارشی ثبت نشده</h4>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="row text-center align-items-center d-flex justify-content-center py-3 border-bottom">

                </div>
            </div>

        </div>

    </section>

{% endblock %}
