{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    details
{% endblock %}

{% block content %}
    <section id="billboard" class="position-relative overflow-hidden">
        <div class="d-flex align-items-center text-center"
             style="background-image: url('{% static 'images/header_bg2.jpg' %}'); background-size: cover; background-repeat: no-repeat; height: 50vh; background-position: center;">
            <div class="container ">
                <div class="row h-100 pt-5 justify-content-center text-center">
                    <div class="banner-content mt-0" dir="rtl">
                        <h2 style="color: #303030">جزئیات محصول</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5" dir="rtl">
            <div class="row text-center align-items-center d-flex justify-content-center">
                <div class="col-md-2"></div>
                <div class="col-md-1 col-sm-12">
                    <div class="row">
                        {% for image in details.image.all %}
                            <div class="col-4 col-sm-4 col-md-12 col-lg-12 mb-2">
                                <img class="img-fluid rounded my-auto" src="{{ image.sub_image.url }}"
                                     alt="{{ details.name }}" width="100%" height="auto"
                                     onclick="changeImage(this.src)">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {#                <div class="col-md-1 mb-3" data-cro-id="pdp-album-open">#}
                {#                    {% for image in details.image.all %}#}
                {#                        <div class="row">#}
                {#                            <img class="img-fluid rounded my-3" src="{{ image.sub_image.url }}"#}
                {#                                 alt="{{ details.name }}" width="100%" height="auto"#}
                {#                                 onclick="changeImage(this.src)"#}
                {#                            />#}
                {##}
                {#                        </div>#}
                {#                    {% endfor %}#}
                {#                </div>#}

                <div class="col-md-3 col-sm-10 mb-3" data-cro-id="pdp-album-open">
                    {% for image in details.image.all %}
                        {% if image.is_main %}
                            <img class="card-img-top mb-5 mb-md-0 rounded w-100 h-100" id="mainImage"
                                 src="{{ image.sub_image.url }}"
                                 alt="{{ details.name }}"/>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-5 text-end pe-md-5 pe-sm-3 mx-sm-4 d-flex flex-column justify-content-center">
                    <h1 class="display-5 mb-4 fw-bolder">{{ details.name }}</h1>

                    {% for line in description_lines %}
                        <li>{{ line }}</li>
                    {% endfor %}
                    <div class="fs-5 mt-4">
                        {% if not details.discounted_price %}
                            <div><span>{{ details.price }}</span></div>
                        {% else %}
                            <div class="cancel-link"><del class="opacity-50"><span>{{ details.price }}</span></del></div>
                            <div><span>{{ details.discounted_price }}</span></div>
                        {% endif %}
                    </div>
                    {#                    <p class="lead">{{ details.description }}</p>#}
                    <div class="row align-items-center mt-4">
                        {#                        <form action="" method="post">#}
                        <div class="col-4 col-md-4 col-xs-4 d-flex">

                            <button class="btn btn-link text-dark px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fas fa-plus"></i>
                            </button>

                            <input id="form1" min="0" name="quantity" value="1" type="number"
                                   class="form-control form-control-sm w-100 h-100"/>

                            <button class="btn btn-link text-dark px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        {#                            <div class="col col-md-8 me-5 p-0">#}
                        <button class="col-7 col-md-5 col-sm-7 btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            اضافه کردن به سبد خرید
                        </button>
                        {#                            </div>#}
                        {#                        </form>#}

                    </div>
                </div>
                {#--------------------------- like --------------------------------#}
                <button class="col-1" id="like-button">{% if user_has_liked %}Unlike{% else %}Like{% endif %}</button>

                <!-- Display the current like count -->
                <p id="like-count">{{ like_count }}</p>


                {#--------------------------- like --------------------------------#}
            </div>
        </div>
        <div class="container text-center align-items-center" dir="rtl">
            <div class="row text-center align-items-center d-flex justify-content-center">
                {% if comments %}
                    <div class="row justify-content-center">
                        <div class="col-9 border-top border-bottom" style="border-color: #c9c9c9 !important;">
                            <h3 class="fs-5 mt-3">نظرات کاربران</h3>
                        </div>
                    </div>
                    <div class="col-10 text-center">
                        <div class="row d-flex justify-content-center text-end">

                            <div class="col-10 rounded-bottom py-3 px-5 text-center " style="background-color: #f5f5f5">
                                {#-------------------------------------comments------------------------------------------#}
                                {#                                {% for comment in comments %}#}
                                {#                                    <div class="comment">#}
                                {#                                        {{ comment.context }}#}
                                {#                                        <button class="reply-button" data-comment-id="{{ comment.id }}">Reply</button>#}
                                {#                                        <form id="reply-form-{{ comment.id }}" class="reply-form" style="display: none;"#}
                                {#                                              method="post" action="{% url 'products:details' slug=details.slug %}">#}
                                {#                                            {% csrf_token %}#}
                                {#                                            <input type="hidden" name="reply_to" value="{{ comment.id }}">#}
                                {#                                            {{ comment_form.as_p }}#}
                                {#                                            <button type="submit">Submit Reply</button>#}
                                {#                                        </form>#}
                                {#                                        {% if comment.replies.all %}#}
                                {#                                            <div class="replies">#}
                                {#                                                {% for reply in comment.replies.all %}#}
                                {#                                                    <!-- Display replies similarly as comments -->#}
                                {#                                                {% endfor %}#}
                                {#                                            </div>#}
                                {#                                        {% endif %}#}
                                {#                                    </div>#}
                                {#                                {% endfor %}#}



                                {% for comment in comments %}
                                    {% if not comment.reply %}
                                        <div class="row d-flex justify-content-center text-dark rounded mb-3"
                                             style="background-color: #e5dbd6">
                                            <div class="col-6 text-end ps-2 py-2">
                                                <strong>{{ comment.author.first_name }}</strong>
                                            </div>
                                            <div class="col-6 text-start ps-2 py-2">
                                                <button class="reply-button bg-transparent border-0"
                                                        data-comment-id="{{ comment.id }}">پاسخ
                                                </button>
                                            </div>

                                            <div class="row text-center bg-white text-white pb-3 d-flex justify-content-center rounded-bottom w-100">
                                                <div class="row text-end text-white mb-3 text-center">
                                                    <p class="pt-2 fs-6">{{ comment.context }}</p>
                                                    <form id="reply-form-{{ comment.id }}" class="reply-form"
                                                          style="display: none;"
                                                          method="post"
                                                          action="{% url 'products:details' slug=details.slug %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="reply_to" value="{{ comment.id }}">
                                                        {{ comment_form | crispy }}
                                                        <button class="rounded border-0 text-light bg-dark"
                                                                type="submit">ثبت پاسخ
                                                        </button>
                                                    </form>
                                                </div>

                                                {% if comment.replies.all %}
                                                    {% for reply in comment.replies.all %}
                                                        {% if reply.status == 'approved' %}
                                                            {% include 'products/comments.html' with comment=reply %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {#-------------------------------------comments------------------------------------------#}
                                <div class="row justify-content-center text-end rounded">
                                    <div class="col-12 col-md-8 col-sm-12 rounded py-3 px-5 text-center "
                                         style="background-color: #f5f5f5">
                                        <div class="">
                                            <form class="col-12 col-md-12 col-sm-12" method="post">
                                                {% csrf_token %}
                                                <div class="bg-white rounded">{{ comment_form | crispy }}</div>

                                                <button class="btn btn-dark" type="submit">ثبت نظر</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>

    </section>

    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">محصولات مشابه</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for item in similar_item %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% for image in details.image.all %}
                                {% if image.is_main %}
                                    <img class="card-img-top mb-5 mb-md-0 rounded w-100 h-100" id="mainImage"
                                         src="{{ image.sub_image.url }}"
                                         alt="{{ details.name }}"/>
                                {% endif %}
                            {% endfor %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item.name }}</h5>
                                    <!-- Product reviews-->
                                    {% comment %}
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div> {% endcomment %}
                                    <!-- Product price-->
                                    {{ item.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                            href="{% url 'products:details' slug=item.slug %}">اضافه
                                    کردن به سبد خرید</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
        function changeImage(newSrc) {
            const mainImage = document.getElementById('mainImage');
            mainImage.src = newSrc;
        }

        document.addEventListener('DOMContentLoaded', function () {
            const thumbnails = document.querySelectorAll('.img-fluid');

            thumbnails.forEach(thumbnail => {
                thumbnail.addEventListener('click', function () {
                    changeImage(thumbnail.src);
                });
            });
        });
    </script>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#like-button").on("click", function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'products:product_like' pk=details.pk %}",
                    data: {
                        'like_action': 'toggle',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        $("#like-button").text(data.is_liked ? 'Unlike' : 'Like');
                        $("#like-count").text(data.like_count);
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var replyButtons = document.querySelectorAll('.reply-button');

            replyButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var commentId = this.getAttribute('data-comment-id');
                    var replyForm = document.getElementById('reply-form-' + commentId);
                    toggleFormVisibility(replyForm);
                });
            });

            function toggleFormVisibility(form) {
                form.style.display = (form.style.display === 'none' || form.style.display === '') ? 'block' : 'none';
            }
        });
    </script>
{% endblock %}