{% extends "base.html" %}
{% load static %}

{% block title %}
    products
{% endblock %}

{% block content %}
    <section id="billboard" class="position-relative overflow-hidden">
        <div class="d-flex align-items-center text-center"
             style="background-image: url('{% static 'images/header_bg2.jpg' %}'); background-size: cover; background-repeat: no-repeat; height: 50vh; background-position: center;">
            <div class="container ">
                <div class="row h-100 pt-5 justify-content-center text-center">
                    <div class="banner-content mt-0" dir="rtl">
                        <h2 style="color: #303030">همه محصولات</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="product-store position-relative px-5 mx-3 my-5" dir="rtl">
        <div class="row m-5">
            {% for product in products %}
                <div class="col-lg-2 col-md-4 mb-4 pb-2">
                    <div class="product-card bg-gray position-relative rounded">
                        <div class="image-holder zoom-effect">
                            {% for image in product.image.all %}
                                {% if image.is_main %}
                                    <img src="{{ image.sub_image.url }}" alt="product-item"
                                         class="img-fluid zoom-in rounded-top">
                                {% endif %}
                            {% endfor %}
                            <div class="cart-concern position-absolute">
                                <div class="cart-button">
                                    <a href="#" class="btn rounded-0 bg-light bg-opacity-50 w-100">اضافه کردن به سبد
                                        خرید</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-detail text-center pt-3 pb-2">
                            <h5 class="card-title fs-3 text-capitalize">
                                <a href="single-product.html"
                                   class="link-body-emphasis link-offset-2 link-underline-opacity-0">{{ product.name }}</a>
                            </h5>
                            <span class="item-price text-secondary fs-3 fw-light">{{ product.price }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}